@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.vactionManage_App {
    width: 98%;
    min-width: 1000px;
    height: 790px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.vactionManage_line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 96%;
    min-width: 980px;
    border-bottom: 3px solid lightgray;
}

.vactionManage_App .vm_searchBtn {
    width: 97px;
    color: #FFFFFF;
    height: 36px;
    border: none;
    background: #537AAA;
    margin-top: 2px;
    border-radius: 2px;
}

.vactionManage_App .vm_okBtn {
    margin-left: 70px;
    margin-top: 30px;
    width: 97px;
    color: #FFFFFF;
    height: 40px;
    border: none;
    background: #537AAA;
    border-radius: 2px;
}

.vm_kind p {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #5a6163;
}

.vm_kind {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.vm_yeon, .vm_ban, .vm_hu, .vm_sick {
    margin-right: 40px;
}

.vm_perInfo p {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #5a6163;
}

.vm_perInfo {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vm_InfoTable {
    overflow: auto;
    width: 600px;
    margin-top: 10px;
    height: 80px;
}

.vm_InfoTable thead th {
    border: 0px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;    
    padding: 0px;
    margin: 0px;
    background-color: #EBEFF2;
}

.vm_InfoTable tbody td{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.vm_timedate {
    margin-left: 70px;
    margin-top: 10px;
    width: 500px;
    margin-bottom: 20px;
}

.vm_timedate p {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #5a6163;
}

.vm_reason {
    margin-left: 70px;
    margin-top: 10px;
}

.vm_reason p {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #5a6163;
}

.vm_reason textarea {
    resize: none;
}