 .enterForm{
    background-color: #fff !important;
}

.enterForm .date_form{
    display: flex;
    justify-content: center;
}

.enterForm .date_form .date2{
    margin-left: 50px;
    margin-top: 12px;
}

.formProofofeTable .formProofofeFirst .formProofofe_wid {
    height: 100px;
    padding: 0;
    margin: 0;
}