.formProofofeTable{
    width: 100%;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
    text-align: center;
}

.formProofofeTable tr td{
    padding: 15px 10px;   
    font-size: 12px;
    border: 1px solid #D9D9D9;
    width: 100px;

}

.formProofofeFirst td:nth-child(odd){
    background: #EBEFF2;

}



.formProofofeSecond td{
    background: #EBEFF2;

}

.formProofofempMain .footer_info_form{
    margin-top: 130px;
    text-align: center;
    color:#515966;
    margin-bottom: 100px;
}


.formProofofempMain .footer_info_form P:not(:last-of-type){
    margin-bottom: 80px;
}

.formProofofempMain .footer_info_form .mbt{
    margin-bottom: 10px !important; 
}

.formProof {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 765px;
    left: 386px;
    box-shadow: 0px 0px 4px #f00;
}