@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0px;
}

.plzEmp {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.empLine {
  padding-left: 20px;
  padding-right: 20px;
}
.empFirstLine {
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
  border: 0;
}
.empTabFlex {
  margin-left: 50px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: row;
}

.empTabFlex div {
  margin-right: 80px;
}

.empBasic {
  font-size: 17px;
}

.account {
  font-size: 17px;
}
.family {
  font-size: 17px;
}
.license {
  font-size: 17px;
}

.buttonStyle {
  width: 3.5vw;
  height: 3.5vh;
  background-color: #e5a360;
  color: #ffffff;
}

.empWrapimg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
}

.empimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputStyle {
  text-align: center;
  width: 150px;
  height: 40px;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.empinfoName {
  font-size: 23px;
}

.empinfoDept {
  font-size: 15px;
}

.inputFileButton {
  padding: 6px 25px;
  background-color: #eceff2;
  border: 1px solid black;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
}

.empTable {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.tdPaddingLeft {
  padding-left: 2vw;
}

td {
  padding-right: 1vw;
}

.redStar {
  color: red;
  padding-right: "3px";
}
