.retirementModal_div {
  transition: 0.2s;
  opacity: 1;
  margin-left: 50%;
  left: -170px;
  margin-top: 120px;

  transition: 0.2s;
  position: absolute;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 5px lightgray;
  border-radius: 5px;
  z-index: 10;
  width: 500px;
  height: 300px;
  border: 1px solid lightgray;
  background-color: white;
}

.retirementModal_menu {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 7px;

  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 3px;
}

.retirementModal_contents {
  font-size: 14px;
  padding: 10px;
  margin: 7px 12px;
  height: 210px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.retirementModal_close_div {
  justify-items: right;
}

.retirementModal_close {
  width: 28px;
  height: 28px;
}

.retirementModal_div_hidden {
  opacity: 0;
  margin-left: 50%;
  left: -170px;
  margin-top: 120px;

  transition: 0.2s;
  position: absolute;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 2px 5px lightgray;
  border-radius: 5px;
  z-index: -10;
  width: 500px;
  height: 300px;
  border: 1px solid lightgray;
  background-color: white;
}
