.PersonnelAppointment_container {
  background-color: #ffffff;
  min-width: 1000px;
  width: 98%;
  height: 790px;
  position: relative;
}
.PersonnelAppointment_search {
  height: 60px;
  border-bottom: 2px solid #d9d9d9;
  margin: 20px 20px 20px 20px;
  display: flex;
}
.PersonnelAppointment_search span {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  font-size: 16px;
  color: #5a6163;
}
.PersonnelAppointment_bar {
  background-color: #d9d9d9;
  width: 20px;
  height: 2px;
  margin: 15px 5px 0px 5px;
}
.PersonnelAppointment_searchBtn {
  width: 97px;
  height: 36px;
  margin-left: 30px;
  margin-top: 2px;
  background-color: #537aaa;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  outline: 0;
}
.PersonnelAppointment_content {
  margin: 10px 50px 10px 50px;
}
.PersonnelAppointment_title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.PersonnelAppointment_title span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}
.PersonnelAppointment_registerBtn {
  width: 97px;
  height: 36px;
  background-color: #e78854;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  outline: 0;
}
.PersonnelAppointment_tables {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.PersonnelAppointment_dept {
  min-width: 730px;
  height: 600px;
}
.PersonnelAppointment_dept span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}
.PersonnelAppointment_dept table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
}
.PersonnelAppointment_dept thead tr {
  font-size: 12px;
  color: #515966;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  background-color: #ebeff2;
}

.PersonnelAppointment_dept thead td {
  padding: 10px;
}
.PersonnelAppointment_dept tbody td {
  padding: 8px;
  font-size: 12px;
}
.PersonnelAppointment_dept tr,
.PersonnelAppointment_dept td {
  border: 1px solid#D9D9D9;
  text-align: center;
}
.PersonnelAppointment_rank {
  min-width: 730px;
  height: 600px;
}
.PersonnelAppointment_rank span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}
.PersonnelAppointment_rank table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
}
.PersonnelAppointment_rank thead tr {
  font-size: 12px;
  color: #515966;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  background-color: #ebeff2;
}

.PersonnelAppointment_rank thead td {
  padding: 10px;
}
.PersonnelAppointment_rank tbody td {
  padding: 8px;
  font-size: 12px;
}
.PersonnelAppointment_rank tr,
.PersonnelAppointment_rank td {
  border: 1px solid#D9D9D9;
  text-align: center;
}
