.vc_Flex {
  overflow-x: hidden;
  display: flex;
}

.vc_Request {
  width: 680px;
  margin: 5px 0px 0px 120px;
  overflow-y: auto;
  height: 645px;
}

.vacationWrap {
  float: left;
}
.vacationBox {
  width: 250px;
  height: 200px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 0px 0px 0px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.vc_compltion {
  width: 680px;
  height: 645px;
  overflow-y: auto;
  margin-left: 80px;
  border-radius: 3px;
}

.vc_Request_title,
.vc_compltion_title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
  margin-bottom: 30px;
}

.vc_name {
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
}

.vc_date,
.vc_replace {
  font-size: 15px;
}

.vc_btnbox {
  padding-top: 10px;
}

.vc_approval_btn,
.vc_refusal_btn {
  width: 97px;
  color: #ffffff;
  height: 36px;
  border: none;
  background: #f09336;
  border-radius: 2px;
}

.vc_refusal_btn {
  margin-left: 30px;
}
