
.nav_wrapper {
    display: flex;
    width: 190px;
    margin-top: 110px;
    margin-left: 38px;
  }
  .nav_accordion {
    z-index: 100;
    margin-top: 30px;
    width: 190px;
  }
  .nav_item { /* 아이템이 닫혀있을 때 */
    background: #515966;
    padding: 5px 15px;
    transition: 0.5s;
  }

  .nav_item_show { /* 아이템이 열려있을 때 */
    text-align: left;
    transition: 0.5s;
    background: white;
    color: #848E91;
    padding: 5px 15px;
    padding-left: 10px;
    margin-left: -20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .nav_tab_img {
    width: 20px;
    height: 20px;
  }
  .nav_title h3 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav_title {
    color: #848E91;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .nav_menu {
    opacity: 0;
    color: #848E91;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .nav_link:nth-last-child(1) div {
    margin-bottom: 5px;
  }

  .nav_menu_show {
    margin-left: 10px;
    color: #848E91;
    max-height: 0;
    overflow: hidden;
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .nav_menu_show div {
    height: 40px;
    line-height: 40px;
  }

  .nav_link {
    color: #848E91;
    text-decoration: none;
  }


  .nav_text {
    padding-left: 10px;
  }

  .nav_title {
    padding-left: 10px;
  }

  .nav_link:hover .nav_text {
    border-radius: 5px;
    background-color: rgb(236, 233, 233);
  }

  .nav_clicked { /* 네비게이션이 클릭되었을 때 */
    padding-left: 10px;
    border-radius: 5px;
    background-color: lightgray;
  }

  .nav_block {
    z-index: 1;
    position: absolute;
    width: 190px;
    height: 790px;
    background-color:  #515966;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }