.baseInfo{
    margin: 0 98px 0 98px;
    margin-top: 32px;
}

.baseInfo > span{
    letter-spacing: 2px;
    font-weight: 400;
    display: block;
    position: relative;
}

.baseInfo >span::after{
    position:absolute;
    width: 1320px;
    height: 1px;
    border-bottom: 4px dotted #D9D9D9;
    top: 10px;
    left: 100px;
    content: "";
}

.baseInfo .info_base_div{
    display: flex;
}

.baseInfo .info_box{
    width: 475px;
}


.baseInfo .address_box{
    width: 940px !important;
}
.baseInfo .address_box2{
    width: 400px !important;
}
.baseInfo .info_box:first-child{
    margin-left: 20px;
}

.baseInfo .info_margin:last-child{
    margin-bottom: 30px;
}
.baseInfo .info_base_div .info_box .info_margin {
    margin-top: 19px;
    padding-left: 10px;
}
.baseInfo .info_base_div .info_box .info_margin > span{
    margin-left: 30px;
}

.empbase_input {
    transition: 0.2s;
    outline: none;
    border-radius: 2px;
    border: 1px solid lightgray;
    margin-left: 15px;
    width: 160px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}

.empbase_input:focus {
    transition: 0.5s;
    border: 1px solid black;
}

.empbase_select {
    transition: 0.2s;
    outline: none;
    border-radius: 2px;
    border: 1px solid lightgray;
    margin-left: 15px;
    width: 160px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}