.formRetire_noBack {
    background-color: white;
}

.formSeverPay_footer {
    margin-top: 55px;
    text-align: center;
    color: #515966;
}

.formRetire_money,
.formRetire_RetireMoney,
.formRetire_bankInfo {
    background: #EBEFF2;
}

.formSeverance_Info td:nth-child(odd) {
    background: #EBEFF2;
    width: 80px;
    height: 15px;
    padding: 8px 0px 8px 0px;
}

.formSeverance_Info td:nth-child(even) {
    padding: 8px 0px 8px 0px;
}

.formRetire_bankInfo td:nth-child(odd) {
    padding: 8px 0px 8px 0px;
}

.formRetire_bankInfo td:nth-child(even) {
    padding: 8px 0px 8px 0px;
}

.formRetire_money td:nth-child(odd) {
    padding: 10px 0px 10px 0px;
}

.formRetire_money td:nth-child(even) {
    padding: 10px 0px 10px 0px;
}

.formRetire_RetireMoney td:nth-child(odd) {
    padding: 10px 0px 10px 0px;
}

.formRetire_RetireMoney td:nth-child(even) {
    padding: 10px 0px 10px 0px;
}

.formSeverDiv {
    width: 100%;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: relative;
}

.formSever {
    margin-top: -45px;
    margin-left: 44px;
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 4px #f00;
}

.formSeverance_boldcolor {
    background: #EBEFF2;
    height: 45px;
    font-weight: bold;
}

.formSeverancePaytitle{
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 60px;
}
