.SeverancePayCal_container {
  background-color: #ffffff;
  height: 790px;
  width: 98%;
  overflow: auto;
}

.SeverancePayCal_search {
  height: 60px;
  border-bottom: 2px solid #d9d9d9;
  margin: 20px 20px 20px 20px;
  display: flex;
}

.SeverancePayCal_search span {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  font-size: 16px;
  color: #5a6163;
}

.SeverancePayCal_dept {
  margin-left: 20px;
}

.SeverancePayCal_input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin-top: 1px;
}

.SeverancePayCal_searchBtn {
  width: 97px;
  height: 36px;
  margin-left: 30px;
  margin-top: 2px;
  background-color: #537aaa;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  outline: 0;
}

.SeverancePayCal_contnet {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
}

.SeverancePayCal_empInfo {
  margin-right: 60px;
  width: 800px;
}

.SeverancePayCal_empInfo span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}

.SeverancePayCal_empTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin-top: 13px;
}

.SeverancePayCal_empTable tr,
.SeverancePayCal_empTable td {
  border: 1px solid #d9d9d9;
  text-align: center;
}

.SeverancePayCal_empTable thead tr {
  font-size: 12px;
  color: #515966;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  background-color: #ebeff2;
}

.SeverancePayCal_empTable thead td {
  padding: 10px;
}

.SeverancePayCal_empTable tbody td {
  padding: 8px;
  font-size: 12px;
}

.SeverancePayCal_calInfo {
  width: 100%;
  height: 670px;
  margin-top: 32px;
}

.SeverancePayCal_btns {
  text-align: right;
}

.SeverancePaycal_saveBtn {
  width: 80px;
  height: 30px;
  margin-bottom: 3px;
  background-color: #e78854;
  color: #ffffff;
  border-radius: 2px;
  border: 0;
  outline: 0;
}

.SeverancePayCal_date table {
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.SeverancePayCal_date tr,
.SeverancePayCal_date td {
  border: 1px solid #d9d9d9;
  text-align: center;
}

.SeverancePayCal_date td {
  width: 100px;
  padding: 8px;
  font-size: 12px;
}

.SeverancePaycal_item {
  font-size: 12px;
  color: #515966;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  background-color: #ebeff2;
}

.SeverancePayCal_date span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
  font-size: 14px;
}

.SeverancePayCal_total {
}

.SeverancePayCal_total span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}

.SeverancePayCal_total table {
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.SeverancePayCal_total thead tr {
  font-size: 12px;
  color: #515966;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  background-color: #ebeff2;
}

.SeverancePayCal_total thead td {
  padding: 10px;
}

.SeverancePayCal_total tbody td {
  padding: 8px;
  font-size: 12px;
  width: 120px;
  height: 30px;
}

.SeverancePayCal_total tr,
.SeverancePayCal_total td {
  border: 1px solid #d9d9d9;
  text-align: center;
}

.SeverancePayCal_bonus {
  margin-top: 15px;
}

.SeverancePayCal_bonusHeader {
  display: flex;
  justify-content: space-between;
}

.SeverancePayCal_bonusHeader span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}

.SeverancePayCal_bonus table {
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.SeverancePayCal_bonus td {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  width: 100px;
}

.SeverancePayCal_calculator {
  margin-top: 15px;
}

.SeverancePayCal_calculator span {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #5a6163;
}

.SeverancePayCal_calculator table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin-top: 5px;
}

.SeverancePayCal_calculator td {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  width: 100px;
}

.SeverancePaycal_FirstTable tr td {
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.SeverancePaycal_SecondTable tr td {
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.SeverancePayCal_moneyListTable thead tr td {
  height: 25px;
}

.modalseverancePayCal {
  width: 120px;
  color: #FFFFFF;
  height: 28px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: none;
  background: gray;
  border-radius: 2px;
  letter-spacing: 0.1em;
}