@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.hrMain {
  overflow: auto;
  height: 790px;
  width: 98%;
  background-color:white;
  display: flex;
}

.hrMain_container {
  margin-left: 80px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 1000px;
  display: flex;
  flex-direction: column;  
}

.hrMain_Flex {
  display: flex;
  flex-direction: row;
}

.hrMain_user_container {
  width: 330px;
  height: 480px;
}

.hrMain_user_container h4 {
  margin-left: 8px;
}

.hrMain_userInfo {
  width: 330px;
  height: 380px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.hrMain_userImg {
  margin: 30px 0px 0px 0px;
}

.hrMain_userImg img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px 0px;
}

.hrMain_userDetail {
  margin-bottom: 20px;
  margin: auto;
}

.hrMain_userDetail li {
  list-style: none;
  margin-bottom: 2px;
}

.hrMain_userName {
  font-size: 30px;
  margin-bottom: 3px;
}

.hrMain_dept,
.hrMain_subDept,
.hrMain_Team {
  font-size: 13px;
}

.hrMain_dept {
  margin-top: 10px;
}

.hrMain_work_container {
  margin-left: 50px;
  width: 600px;
  height: 480px;
}

.hrMain_workInfo {
  width: 400px;
  height: 380px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.hrMain_workTable {
  overflow: hidden;
  width: 500px;
  height: 380px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.hrMain_workInfo ul {
  list-style: none;
}

.hrMain_workInfo progress {
  margin-left: 20px;
}

.hrMain_workDate {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}

.hrMain_workTime {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}

.hrMain_workState {
  margin-left: 15px;
  border: 1px solid lightgray;
  background-color: #21BF54;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  height: 30px;
  width: 50px;
}

.hrMain_table {
  width: 100%;
  border-spacing: 0;
  overflow-y: auto;
}

.hrMain_table thead {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  background-color: #537AAA;
  color: white;
  text-align: center;
}

.hrMain_table thead td{
  border-left: 1px solid lightgray;
  padding: 0px;
  letter-spacing: 0.1em;
}

.hrMain_table thead td:nth-child(1){
  padding: 0px;
}

.hrMain_table tbody {
  font-size: 14px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: black;
}

.hrMain_table tbody tr:nth-child(2n) {
  background-color: whitesmoke;
}
.hrMain_table tbody tr:nth-child(2n - 1) {
  background-color: white;
}

.hrMain_table tbody tr:nth-last-child(1) {
  border-bottom: 1px solid lightgray;
}

.hrMain_table tbody td {
  border-left: 1px solid lightgray;
  padding: 0px;
}

.hrMain_workInfo_work {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.hrMain_history {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.hrMain_history h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hrMain_button_img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.hrMain_historyList {
  width: 480px;
}

.hrMain_workBottomText {
  margin-top: 15px;
  text-align: center;
}

.hrMain_notice_container {
  width: 1332px;
  height: 200px;
}

.hrMain_notice {
  width: 100%;
  height: 160px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow-y: auto;
}

.hrMain_notice p {
  margin: 10px 0px 0px 5px;  
  letter-spacing: 0.1em;
}