@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#header {
	font-family: 'Noto Sans KR', sans-serif;
}

.empimg {
	border-radius: 15px 15px 15px 15px;
}

.userHeader_wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 98%;
	min-width: 1000px;
	margin-top: 30px;
}

.userHeader_sub_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	padding: 20px 80px;
	background: #EBEFF2;
	border-radius: 5px 5px 0 0;
}

.userHeader_sub_tile {
	font-size: 18px;
}

.userHeader_logout {
	margin-right: 10px;
	border: 0;
	margin-top: 5px;
}

.userHeader_dropdown {
	display: none;
	position: fixed;
	background-color: #EBEFF2;
	width: 160px;
	height: 105px;
    transform: translate(-45%, -0%); 
	z-index: 1;
	text-align: center;
	padding: 0;
}

.userHeader_dropdown ul li {
	color: black;
	padding: 10px 0px 10px 0px;
	margin: 0;
	display: block;
	text-align: center;
}

.userHeader_dropdown ul {
	list-style: none;
	padding-left: 0px;
}

.userHeader_dropdown ul li:hover {
	background-color: #D4DEDF;
}

.userHeader_sub_menu:hover .userHeader_dropdown {
	display: block;
}

.userHeader_logout, .userHeader_changepw {
	text-decoration: none;
}