@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#header {
	font-family: 'Noto Sans KR', sans-serif;
}

.empimg {
	border-radius: 15px 15px 15px 15px;
}

.userHeader_wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 98%;
	min-width: 1000px;
	margin-top: 30px;
}

.userHeader_sub_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	padding: 20px 80px;
	background: #EBEFF2;
	border-radius: 5px 5px 0 0;
}

.userHeader_sub_tile {
	font-size: 18px;
}

.userHeader_logout {
	border: 0;
	border-radius: 100px;
	margin-top: 5px;
}
.userHeader_logout:hover {
	transition: 0.1s;
	background-color: lightgray;
}


.userHeader_dropdown_hidden {
	margin-left: 16px;
	opacity: 0;
	transition: 0.2s;
	position: fixed;
	background-color: #EBEFF2;
	width: 160px;
    transform: translate(-45%, -0%); 
	z-index: 100;
	text-align: center;
	padding: 0;
}

.userHeader_dropdown_show {
	margin-top: 14px;
	margin-left: 16px;
	opacity: 1;
	transition: 0.1s ease;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
	position: fixed;
	background-color: #EBEFF2;
	width: 160px;
	transform: translate(-45%, -0%); 
	z-index: 100;
	text-align: center;
	padding: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
}

.userHeader_dropdown_title {
	height: 45px;
	overflow: hidden;
	line-height: 45px;
}

.userHeader_dropdown_subtitle {
	text-decoration: none;
	color: black;
	
	font-size: 13px;

	font-weight: bold;
}

.userHeader_dropdown_subtitle div:hover {
	transition: 0.3s;
	color: rgba(0, 0, 0, 0.61);
	background-color: lightgray;
}